<div class="tailbar" id="dockbar">
    <div id="taskbar">
        <button class="shortcut">
            <img src="./assets/img/icons/OMERIZ.png">
        </button>
        <button class="shortcut">
            <img src="./assets/img/icons/Github.png">
        </button>
        <button class="shortcut">
            <img src="./assets/img/icons/Node.js.png">
        </button>
        <button class="shortcut">
            <img src="./assets/img/icons/Electron.png">
        </button>
        <button class="shortcut">
            <img src="./assets/img/icons/Mr MRM Development.png">
        </button>
    </div>
</div>