<filter-container>
    <svg width="0" height="0">
        <filter id="liquid">
            <feTurbulence 
                id="liquid-noise"
                type="fractalNoise" 
                baseFrequency="0.2 0.4" 
                numOctaves="2" 
                seed="2" 
                result="liquid-noise">
            </feTurbulence>
            <feDisplacementMap in="SourceGraphic" in2="liquid-noise" scale="80"/>
        </filter>
    </svg>

    <svg style="display: none">
        <filter id="liquid-glass" color-interpolation-filters="linearRGB" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse">
            <feDisplacementMap in="SourceGraphic" in2="SourceGraphic" scale="20" xChannelSelector="R" yChannelSelector="B" x="0%" y="0%" width="100%" height="100%" result="displacementMap" />
            <feGaussianBlur stdDeviation="1.5 1.5" x="0%" y="0%" width="100%" height="100%" in="displacementMap" edgeMode="none" result="blur" />
        </filter>
    </svg>
</filter-container>

<div class="cover-card">
    <h1>Hello From Liquid Flow</h1>
    <span>This A Good Samples</span>
</div>
